@import './variable';
* {
    margin: $zero;
    padding: $zero;
}
li {
    list-style-type: $none;
}
a {
    display: $block;
    text-decoration: $none;
}
body,
html,
#root {
    height: $fullWidth;
}
